<ion-header>
  <ion-toolbar>
    <ion-title>Estabelecimento</ion-title>
    <ion-button slot="end" class="ion-margin-end" [routerLink]="['/estabelecimentos/novo']">Novo</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item *ngFor="let estabelecimento of estabelecimentos | async">
          <ion-thumbnail slot="start">
            <img src="{{estabelecimento.imagem}}">
          </ion-thumbnail>
          <ion-label>
            <h2>{{estabelecimento.nome}}</h2>
            <h3>{{ estabelecimento.categoriaNome - estabelecimento.subcategoriaNome }}</h3>
          </ion-label>
          <ion-button slot="end" color="primary" [routerLink]="['/estabelecimentos/editar/', estabelecimento.key]">
            <ion-icon slot="start" ios="create-outline" md="create-outline"></ion-icon>
            Editar
          </ion-button>
          <ion-button slot="end" color="danger" (click)="remove(estabelecimento.key, estabelecimento.filePath)">
            <ion-icon slot="start" name="trash-outline"></ion-icon>
            Excluir
          </ion-button>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
