<ion-header>
  <ion-toolbar>
    <ion-title>{{tituloDaPagina}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form (ngSubmit)="onSubmit()" #formCategoria="ngForm">
          <ion-item>
            <ion-label position="floating">Nome Da Categoria</ion-label>
            <ion-input name="nome" [(ngModel)]="usuario.nome"></ion-input>
          </ion-item>

          <ion-button color="primary" type="submit" class="ion-margin-top" slot="end">Salvar</ion-button>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
