<ion-header>
  <ion-toolbar>
    <ion-title>Categorias</ion-title>
    <ion-button slot="end" class="ion-margin-end" [routerLink]="['/categorias/novo']">Novo</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item *ngFor="let categoria of categorias | async">
          <ion-thumbnail slot="start">
            <img src="{{categoria.imagem}}">
          </ion-thumbnail>
          <ion-label>{{categoria.nome}}</ion-label>
          <ion-button slot="end" color="primary" [routerLink]="['/categorias/editar/', categoria.key]">
            <ion-icon slot="start" ios="create-outline" md="create-outline"></ion-icon>
            Editar
          </ion-button>
          <ion-button slot="end" color="danger" (click)="remove(categoria.key, categoria.filePath)">
            <ion-icon slot="start" name="trash-outline"></ion-icon>
            Excluir
          </ion-button>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
