<ion-header>
  <ion-toolbar>
    <ion-title>{{title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <form [formGroup]="formEstabelecimento" (ngSubmit)="onSubmit()">
          <ion-item *ngIf="logoUrl ==''">
            <!--            <ion-label position="stacked">Foto</ion-label>-->
            <ion-button color="primary" (click)="imagemInput.click()">Adicionar Logo</ion-button>
            <input type="file" #imagemInput formControlName="logo" (change)="uploadLogo($event)">
          </ion-item>

          <ion-item *ngIf="logoUrl !=''">

            <ion-thumbnail slot="start">
              <img [src]="logoUrl">
            </ion-thumbnail>
            <ion-button color="danger" (click)="removeLogo()">Remover Logo</ion-button>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Nome</ion-label>
            <ion-input type="text" formControlName="nome"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Categoria</ion-label>

            <ion-select placeholder="Escolher" formControlName="categoriaKey" (ionChange)="setCategoriaNome($event.target.value)">
              <ion-select-option *ngFor="let categoria of categorias | async" value="{{categoria.key}}" selected-text="{{categoria.nome}}">{{categoria.nome}}</ion-select-option>
            </ion-select>
          </ion-item>

          <ion-item>
            <ion-label position="stacked">Subcategoria</ion-label>

            <ion-select placeholder="Escolher" formControlName="subcategoriaKey" (ionChange)="setSubcategoriaNome($event.target.value)">
              <ion-select-option *ngFor="let categoria of subcategorias | async" value="{{categoria.key}}" selected-text="{{categoria.nome}}">{{categoria.nome}}</ion-select-option>
            </ion-select>
          </ion-item>

<!--          <ion-item *ngFor="let forma of formaPagamentos">-->
<!--            <ion-label>{{forma.nome}}</ion-label>-->
<!--            <ion-checkbox slot="end" formControlName="formaPagamento"></ion-checkbox>-->
<!--          </ion-item>-->




          <div margin-vertical>
            <ion-button color="primary" expand="block" type="submit">Salvar</ion-button>
          </div>
        </form>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
