<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Categorias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/categorias/adicionar']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="categorias.length == 0" class="alert alert-warning" role="alert">
          Nenhuma categoria cadastrada.
        </div>
        <div *ngIf="categorias.length > 0">
          <app-categorias-item *ngFor="let categoria of categorias" [categoria]="categoria" (onDeleteCategoria)="onCategoriaDeleted($event)"></app-categorias-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
