<ion-header>
  <ion-toolbar>
    <ion-title>Subcategorias</ion-title>
    <ion-button slot="end" class="ion-margin-end" [routerLink]="['/subcategorias/novo']">Novo</ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item *ngFor="let subcategoria of subcategorias | async">
          <ion-thumbnail slot="start">
            <img *ngIf="subcategoria.imagem" src="{{subcategoria.imagem}}">
            <img *ngIf="!subcategoria.imagem" src="assets/no_image.jpg">
          </ion-thumbnail>
          <ion-label>{{subcategoria.categoriaNome}} - {{subcategoria.nome}}</ion-label>
          <ion-button slot="end" color="primary" [routerLink]="['/subcategorias/editar/', subcategoria.key]">
            <ion-icon slot="start" ios="create-outline" md="create-outline"></ion-icon>
            Editar
          </ion-button>
          <ion-button slot="end" color="danger" (click)="remove(subcategoria.key, subcategoria.filePath)">
            <ion-icon slot="start" name="trash-outline"></ion-icon>
            Excluir
          </ion-button>
        </ion-item>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
