<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Usuários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button [routerLink]="['/usuarios/adicionar']">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div *ngIf="usuarios.length == 0" class="alert alert-warning" role="alert">
          Nenhum usuario cadastrado.
        </div>
        <div *ngIf="usuarios.length > 0">
          <ion-item *ngFor="let categoria of usuarios">
            <ion-label>{{categoria.nome}}</ion-label>
            <ion-button slot="end" color="primary" [routerLink]="['/categorias/editar/', categoria._id]">
              <ion-icon slot="start" ios="create-outline" md="create-outline"></ion-icon>
              Editar
            </ion-button>
            <ion-button slot="end" color="danger" (click)="remove(categoria)">
              <ion-icon slot="start" name="trash-outline"></ion-icon>
              Excluir
            </ion-button>
          </ion-item>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>




  </ion-list>

</ion-content>
